@model IEnumerable<WebSachCoQuy.ViewModel.CatalogiesVM>
<div class="side-bar">
    <div class="container">
        <div class="col-lg-4">
            <div class="dropdown">
                <button style="background-color: #f5f5f5c1; color: black;" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sản phẩm
                </button>
                <ul class="dropdown-menu">

                    @foreach(var item in Model)
                    {
                        <li><a class="dropdown-item" href="#sanpham">@item.CatalogiesName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>